.conteiner{
    max-width: 1440px;
    width: 100%;
    background-color: #f6f8f9;
    margin: 0 auto;
    position: relative;
    font-family:'roboto'sans-serif ;
}

/* Daiywo header */

header{
    width: 1440px;
    height: inherit;
    padding: 20px 20px 11px 20px;
    background-color: #f6f8f9;
    position: fixed;
    top: 0px;
}
.header{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.one{
    animation-name: logo;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes logo {

    0% {transform:rotate(0deg);
        top: 0px;}
    100%{
        transform: rotate(360deg);

    }
    
   

}



header nav .nav_ul li{
    font-size: 11px;
    color: #343638;
    cursor: pointer;
    font-family: 'roboto';
    opacity: 0.5;
}
header nav .nav_ul li:hover{
    border-bottom:3px solid red;
}
 .burgermenu{
    display: none;
    

}

.active{
    color: #343638;
    font-weight: bolder;
    opacity: 1;    
}

/* daiwyo section */
.section_one{
    width: 1440px;
    height: 599px;
    display: flex;
    
    
}
.poto{
    width: 60%;
    height: 100%;
    background-image: url(../photos/Image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.world_news{

    width: 65%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 176px auto 176px auto;
    

}

.show{
    display: flex  !important;

}
h1,.P_ONE{
    font-size: 24px;
    color: white;
    font-weight: bold;

}
h1::after{
    content: "";
    width: 400px;
    height: 1.5px;
    background-color: white;
    display: block;
    margin-top: 30px;
}

.P_TWO{
    font-size: 16px;
    color: white;
}
.learn-more{
    padding: 10px 20px;
    width: fit-content;
    font-size: 11px;
    color: white;
    background-color: #fa6980;
    border-radius: 10px;
    transition: .3s all;
    cursor: pointer;
    border: none;

}
.learn-more:hover {
    box-shadow: 10px 10px 29px 0px rgba(0,0,0,0.75);
    color: #fff;

}

.more_news{
    width: 40%;
    height: 100%;
    background-color: white;

}

.M{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.text{
    width: 70%;
    height: 70%;
    margin: 100px auto 100px auto;
}
h2{
    font-size: 24px;
    font-weight: bold;
}
h2::after{
    content: "";
    width: 100%;
    height: 3px;
    background-color: #d6dadf;
    display: block;
    margin-top: 20px;
}

h3{
    font-size: 16px;
    font-weight: bold;
    color: #fa6980;
    margin-bottom: 20px;
}
.P_TREE{
    font-size: 16px;
    font-weight: bold;
    color: #202124;
    margin-bottom: 10px;
}
.P_FOUR{
    margin-bottom: 10px;

}
.p_five{
    display: flex;
    color: #a6adb4;
    gap: 15px;

}



.P_FOUR,.p_five{
    font-size: 16px;
    color: #a6adb4;
    line-height: 1.5;
}
/* daiwyo section 2 */

.section_two{
    width: 80%;
    height: 410px;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* .section{
    width: 80%;
    height: 100%;
    margin: 0 auto;
} */
.CARDS{
    width: 100%;
    height: 350px;
    margin: 20px auto;
    gap: 20px;
    display: flex;
    justify-content: space-between;
}
.card{
    background-color: white;
    width: 37%;
    height: 100%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
h4{
    font-size: 24px;
    font-weight: bold;
}
.foto_card{
    width: 100%;
    height: 50%;
    margin-bottom: 40px;
    border-radius: 8px;
}
.foto-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.grass{
    background-image: url(../photos/card1.png);
    background-position: center;
    background-size: cover;
    opacity: 1;
    transition: all 4s ease;
    background-color: rgb(0,0,8);
}
.grass:hover{
    opacity: 0.5;
    cursor: pointer;
}
.umbrella{
    background-image: url(../photos/card2.png);
    background-position: center;
    background-size: cover;
    transition:all 4s ease;


}
.umbrella:hover{
    opacity: 0.5;
    cursor: grab;
}

.sky{
    background-image: url(../photos/card3.png);
    background-position: center;
    background-size: cover;
    animation-name: sky;
    animation-duration: 5s;

}
@keyframes sky {
    55%{
        background-image: url(../photos/card3.png);
        opacity: 0.5;
        width:110%;
        height:99%;
        cursor: move;
        

    }

    }
    .p_six{
        width: 80%;
        height: 40%;
        margin: 0 auto;

    }
    .p_cardonetwo{
        line-height: 1.5;
    }
/* section 3 daiwyio */

.section_three{
    width: 80%;
    margin: 0 auto;
    padding-bottom: 30px;
    background-color:#f6f8f9 ;
    display: flex;
    flex-direction: column;

}
.sectiontree_two{
    font-size: 24px;
    font-weight: bold;
    font-family: 'roboto';
    margin-bottom: 40px;    
    display: flex;
    justify-content: space-between;
}
.maindiv{
    width: 100%;
    padding-top: 40px;
    padding-top: 0px;
    display: flex;
}

.leftimage{
    width: 60%;
    position: relative;
    padding-bottom: 40px;
    
}
.leftimageone{
    width: 760px;
    height: 430px;
    position: relative;
}
.leftimage_h5{
    font-family: roboto;
    font-size: 16px;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 40px;
    left: 40px;
    z-index: 5;
}
.leftimage_h6{
    width: 760px;
    font-family: roboto;
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    color: white;
    top: 288px;
    left: 40px;
    z-index: 5;
}
.leftimage_p{
    width: 618px;
    font-family: roboto;
    font-size: 16px;
    color: white;
    padding-top: 10px;
    position: absolute;
    top: 310px;
    left: 40px;
    z-index: 5;
}
.right{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    padding-left: 20px;

}
.rightside{
    width: 345px;
    height: 274px;
    display: inline-block;
}
.right_imag{
    width: 100%;
    height: 90%;
    padding-bottom: 75px;

}
.right_h4imag{
    font-size: 16px;
    font-weight: bold;
    padding-top: 10px;
}

/* daiwyo footer */
footer{
    width: 1440px;
    height: 200px;
    margin: 0 auto;    
    padding: 58px 132px 63px 145px;
    background-color: #a6adb4;
    font-size: 13px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
footer:hover{
    cursor: pointer;
}
.footer_nav ul li:hover{
    cursor: pointer;
  border-bottom:  1px solid red;

}

.left-footer {
    display: flex;
}
.footer_nav {
    margin-right: 50px;
}
.footer_logo{
    font-size: 20px;
    color: #fff;
    margin-right: 50px;
}
.footer_logo:hover{
    
        animation-name: logo;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }
    
    @keyframes logo {
    
        0% {transform:rotate(0deg);
            top: 0px;}
        70%{
            transform: rotate(360deg);
    
        }
        
       
    
    }

.footer_nav ul li {
    font-size: 15px;
    margin-bottom: 10px;
    color: #fff;
}
.footer-socials i {
    margin-left: 32px;
    color:#fff ;
    
}
/* conteineri */
.a_two{
    color: #343638;
    font-weight: bolder;
    opacity: 1
    ;
}
.contact-hero {
    width: 80%;
    height: 410px;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    padding-top: 50px;
}
.img-container {
    width: 50%;    
    position: relative;
}
.img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.contact-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;    
}
.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    align-items: center;
    width: 50%;
}

.contact-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;    
}
.contact-group label {
    font-size: 14px;
    margin-bottom: 8px;    
}

.contact-group input {
    width: 400px;
    padding: 7px;
    border-radius: 4px;
    border: 1px solid #e7e7e7;
}
input[type='submit'] {
    padding: 8px 15px;
    color: #fff;
    background-color: #fa6980;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: .2px;
}

/* section */
.textconteiner{
    width: 1162px;
    height: 255px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 39px;
    border-top:2px solid #ebeded;
    border-bottom: 2px solid #ebeded;
   margin-top: 36px;
}
.avatar{
    width: 19%;
    height: 40%;
}
.avatar_p{
    font-size: 24px;
    font-weight: bold;
    width: 361px;
    height: 61px;
    margin-top: 20px;
    padding-left: 5px;

}
.avatar{
    padding-top: 39px;
    padding-left: 5px;
}
.righttext{
    width: 800px;
    display: flex;
    gap: 39px;
}
.righttextone{
    width: 361px;
    height: 50px;
    padding-top: 42px;
}
.right_texti1{
    font-size: 14px;
    width: 361px;
    height: 172px;
    color: #a6adb4;
}
.right_texti2{
    font-size: 14px;
    width: 300px;
    height: 128px;
    color: #a6adb4;

}

.sectionmaintwo{
    width: 85%;
    height: 831px;
    margin: 20px auto;
    border-bottom: 1px solid #a6adb4;
   
}
.imagespilo{
    width: 100%;
    height: 500px;
    padding-bottom: 40px;
}

.textiqveda{
    width: 100%;
    height: 205px;
    
}
.textiqveda_p{
    padding-bottom: 50px;
    color: #a6adb4;
}

@media screen and (max-width:768px) {

   .conteiner{
    width: 768px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
   }
   header{
    width: 768px;
   }
   .fa-bars{
    display: none;
   }
    .section_one{
        width: 768px;
        display: flex;
        flex-direction: column;
    
    }
    .poto{
        width: 100%;
    }
    .world_news{
        align-items: left;
    }
    .more_news{
        width: 100%;

    }
    .text{
        align-items:center
        ;
    }
    .more{
        width:768px ;
    }

    .section_two{
        width: 100%;
        margin: 0 auto;
        margin-top: 50%;
        margin-bottom: 40px;
      
    }
    h4{
        margin-top: 10%;
        margin-left: 10%;
    }
    .CARDS{
        width: 80%;
        height: 100%;
        display: flex;
       
    }
    .card{
        width: 45%;
        height: 400px;
    }
    .cardo{
        display: none;
    }

    .sectiontree_two{
        margin-top: 20%;
    }
    .section_three{
        width: 100%;
        display: flex;
        flex-direction: column;
    }


    .maindiv{
        width: 80%;
        display: flex;
        flex-direction: column;
    }

    .leftimageone{
        width: 768px;
    }
    .right{
        width: 100%;
     
        


    }
    .rightside{
        width: 100%;
        height: 400px;
        display: flex;
    }
    .rightsideo{
        display: none;
    }
    

    
    footer{
        width: 100%;
        margin-top:10%;
    }
    .footer-socials{
        display: flex;
    }
    /* CONTACTI */

    .contact-hero{
        width: 768px;
        display: flex;
        flex-direction: column;

    }
    .img-container{
        width: 100%;
       
    }
    .contact-form{
        width: 768px;
        padding: 20%;
    }
    .contact-group{
        width: 80%;
    }
    .textconteiner{
        margin-top: 600px;
        display: flex;
        flex-direction: column;
    }
    .iconavatar{
        width: 30%;
        
    }
    .righttext{
        margin-top: -10%;
    }
    .right_texti1{
        font-size: 14px;
    }
    .right_texti2{
        font-size: 14px;
    }
    .sectionmaintwo{
        margin-top: 20%;
    }
    .imagespilo{
        width: 80%;
        margin: 0 auto;
    }

   


    
   
    
}

@media screen and (max-width:480px){
    .conteiner{
        width: 480px;
    }
    .section_one{
        width: 100%;
    }
    .poto{
        width: 100%;
    }
    .section_two{
        width: 100%;
        margin-top: 90%;
        display: flex;
        flex-direction: column;
    }
    .more_news{
        width: 100%;
    }
    .more{
        width: 90%;
        
    }
    .section_three{
        margin-top: 90%;
    }
    .leftimageone{
        width: 480px;
    }
    .section{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .sectiontree_two{
        margin-left: 15%;
    }
    .CARDS{
        width: 90%;
        display: flex;
        flex-direction: column;
    }
    .h4{
        margin-left: 20%;
    }

footer{
    width: 480px;
}
.left-footer{
    display: none;
}
.card{
    width: 80%;
}
.rightside{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.right_h4img{
    display: flex;
    flex-direction: row;
}
/* contact */

.header{
    width: 100%;
}
header{
    width: 480px;
}

.img-container{
    width: 480px;
}
.contact-form{
    width: 480px;
}
.righttext{
    display: flex;
    flex-direction: column;

    
}
.righttextone{
    margin-bottom: 30px;

}
.imagespilo{
    margin-top: 200px;

}

.sectionmaintwo{
    width: 480px;
    
}
.burgermenu{
    display: block;
    border: none;
    
   

}
.burgermenu:hover{
    cursor: pointer;
    
}


.nav_ul{
    display: none;
    width: 200px;
    
    position: fixed;
    top: 50px;
    right: 300px;
    background-color:white;
    gap: 10px;
    flex-direction:column;
    align-items: center;
    



}
header nav .nav_ul li:hover{
    border-bottom:3px solid red;
}


footer{
    margin-top: 300px;
}

    
}

@media screen and (min-width:481px){

    header nav .nav_ul{
        display: flex;
        gap: 31px;
    }
   
    



}








