.conteiner{
    max-width: 1440px;
    background-color: #f6f8f9;
    margin: 0 auto;
    position: relative;
    font-family:'roboto'sans-serif ;
}

/* Daiywo header */

header{
    width: 1440px;
    height: 51px;
    padding: 20px 20px 11px 20px;
    background-color: #f6f8f9;
    position: fixed;
    top: 0px;
}
.header{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.one{
    animation-name: logo;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes logo {

    0% {transform:rotate(0deg);
        top: 0px;}
    100%{
        transform: rotate(360deg);

    }
    
   

}

ul{
    display: flex;
    gap: 31px;
}

li{
    font-size: 11px;
    color: #343638;
    cursor: pointer;
    font-family: 'roboto';
    opacity: 0.5;
}
li:hover{
    border-bottom:3px solid red;
}

.a_one{
    color: #343638;
    font-weight: bolder;
    opacity: 1
    ;
}

/* daiwyo section */
.section_one{
    width: 1440px;
    height: 599px;
    display: flex;
    border: 7px solid green;
    
}
.poto{
    width: 60%;
    height: 100%;
    border: 3px solid yellow;
    background-image: url(../photos/Image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.poto:hover{
    width: 45%;
    height: 35%;
    position: absolute;
}
.world_news{
    border: 3px solid black;
    width: 65%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 176px auto 176px auto;
    

}
h1,.P_ONE{
    font-size: 24px;
    color: white;
    font-weight: bold;

}
h1::after{
    content: "";
    width: 400px;
    height: 1.5px;
    background-color: white;
    display: block;
    margin-top: 30px;
}

.P_TWO{
    font-size: 16px;
    color: white;
}
button{
    width: 25%;
    height: 40px;
    font-size: 11px;
    color: white;
    background-color: #fa6980;
    border-radius: 10px;

}

.more_news{
    width: 40%;
    height: 100%;
    background-color: white;
    border: 3px solid pink;
}

.M{
    width: 100%;
    height: 90%;
    border: 2px solid purple;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.text{
    width: 70%;
    height: 70%;
    margin: 100px auto 100px auto;
}
h2{
    font-size: 24px;
    font-weight: bold;
}
h2::after{
    content: "";
    width: 100%;
    height: 3px;
    background-color: #d6dadf;
    display: block;
    margin-top: 20px;
}

h3{
    font-size: 16px;
    font-weight: bold;
    color: #fa6980;
    margin-bottom: 20px;
}
.P_TREE{
    font-size: 16px;
    font-weight: bold;
    color: #202124;
    margin-bottom: 10px;
}
.P_FOUR{
    margin-bottom: 10px;

}
.p_five{
    display: flex;
    color: #a6adb4;
    gap: 15px;

}



.P_FOUR,.p_five{
    font-size: 16px;
    color: #a6adb4;
    line-height: 1.5;
}
/* daiwyo section 2 */

.section_two{
    border: 2px solid red;
    width: 100%;
    height: 410px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ebeff1;
}
.section{
    border: 3px solid blue;
    width: 80%;
    height: 100%;
    margin: 0 auto;
}
.CARDS{
    border: 3px solid green;
    width: 100%;
    height: 350px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}
.card_one,
.card_two,
.card_tree{
    border: 3px solid darkblue;
    background-color: white;
    width: 37%;
    height: 100%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
h4{
    font-size: 24px;
    font-weight: bold;
}
.foto_card{
    width: 100%;
    height: 50%;
    margin-bottom: 40px;
    border: 2px solid teal;
    border-radius: 8px;
}
.grass{
    background-image: url(../photos/card1.png);
    background-position: center;
    background-size: cover;
    opacity: 1;
    transition: all 4s ease;
    background-color: rgb(0,0,8);
}
.grass:hover{
    opacity: 0.5;
    cursor: pointer;
}
.umbrella{
    background-image: url(../photos/card2.png);
    background-position: center;
    background-size: cover;

}
.umbrella:hover{
    box-shadow: 10px 20px 15px rgb(235, 47, 47),
    -10px -20px -15px rgb(235, 47, 47);
    cursor: grab;
}

.sky{
    background-image: url(../photos/card3.png);
    background-position: center;
    background-size: cover;
    animation-name: sky;
    animation-duration: 5s;

}
@keyframes sky {
    55%{
        background-image: url(../photos/card3.png);
        opacity: 0.5;
        width:120%;
        height:99%;
        cursor: move;
        

    }

    }
    .p_six{
        border: 2px solid green;
        width: 80%;
        height: 40%;
        margin: 0 auto;

    }
    .p_cardonetwo{
        line-height: 1.5;
    }
/* section 3 daiwyio */

.section_tree{
    
}