.conteiner{
    max-width: 1440px;
    width: 100%;
    background-color: #f6f8f9;
    margin: 0 auto;
    position: relative;
    font-family:'roboto'sans-serif ;
    padding-top: 52px;
}


/* Daiywo header */

header{
    width: inherit;
    height: inherit;
    padding: 18px 20px;
    background-color: #f6f8f9;
    position: fixed;
    top: 0px;
    left: 50%;
    z-index: 10;
    transform:translateX(-50%) ;
    display: flex;
    justify-content: space-between;
}




header nav .nav_ul li{
    font-size: 11px;
    color: #343638;
    cursor: pointer;
    font-family: 'roboto';
    opacity: 0.5;
}
header nav .nav_ul li:hover{
    border-bottom:3px solid red;
}
 .burgermenu{
    display: none;
    

}

.active{
    color: #343638;
    font-weight: bolder;
    opacity: 1;    
}

/* daiwyo section one */

.section_one{
    width: 100%;
    height: 599px;
    display: flex;
    
    
}
.poto{
    width: 60%;
    height: 100%;
    background-image: url(../photos/Image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.world_news{

    width: 65%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* margin: 176px auto 176px auto; */
    

}

.show{
    display: flex  !important;

}
h1,.P_ONE{
    font-size: 24px;
    color: white;
    font-weight: bold;

}
h1::after{
    content: "";
    width: 100%;
    height: 1.5px;
    background-color: white;
    display: block;
    margin-top: 30px;
}

.P_TWO{
    font-size: 16px;
    color: white;
}
.learn-more{
    width: 134px;
    padding: 14px 30px;
    width: fit-content;
    font-size: 11px;
    color: white;
    background-color: #fa6980;
    border-radius: 10px;
    transition: .3s all;
    cursor: pointer;
    border: none;

}
.learn-more:hover {
    box-shadow: 10px 10px 29px 0px rgba(0,0,0,0.75);
    color: #fff;

}

.more_news{
    width: 40%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.M{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.text{
    width: 70%;
    height: 70%;
    margin: 100px auto 100px auto;
}
h2{
    font-size: 24px;
    font-weight: bold;
}
h2::after{
    content: "";
    width: 100%;
    height: 3px;
    background-color: #d6dadf;
    display: block;
    margin-top: 20px;
}

h3{
    font-size: 16px;
    font-weight: bold;
    color: #fa6980;
    margin-bottom: 20px;
}
.P_TREE{
    font-size: 16px;
    font-weight: bold;
    color: #202124;
    margin-bottom: 10px;
}
.P_FOUR{
    margin-bottom: 10px;

}
.p_five{
    display: flex;
    color: #a6adb4;
    gap: 15px;

}



.P_FOUR,.p_five{
    font-size: 16px;
    color: #a6adb4;
    line-height: 1.5;
}
/* daiwyo section 2 */

.section_two{
    width: 80%;
    margin: 0 auto;
    margin-top: 40px auto;
    
}
.section_two_tittle{
    margin: 0 auto;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 40px;
}


.CARDS{
    width: 100%;
    height: 350px;
    margin: 20px auto;
    gap: 20px;
    display: flex;
    justify-content: space-between;
}
.card{
    width: 37%;
    height: 100%;
    background-color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cardo{
    width: 37%;
    height: 100%;
    background-color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
h4{
    font-size: 24px;
    font-weight: bold;
}
.foto_card{
    width: 100%;
    height: 50%;
    margin-bottom: 40px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

}
.card_tittle{
    width: 80%;
    margin-bottom: 9px;
    font-size:16px;
    font-weight: bold;
    color:#202124;
}
.card_text{
    width: 80%;
    font-size: 13px;
    color: #a6adb4;
}


.foto_card{
    background-image: url(../photos/card1.png);
    background-position: center;
    background-size: cover;
    opacity: 1;
    transition: all 4s ease;
    background-color: rgb(0,0,8);
}
.foto_card:hover{
    opacity: 0.5;
    cursor: pointer;
}
.foto_card{
    background-image: url(../photos/card2.png);
    background-position: center;
    background-size: cover;
    transition:all 4s ease;


}
.foto_card:hover{
    opacity: 0.5;
    cursor: grab;
}

.foto_card{
    background-image: url(../photos/card3.png);
    background-position: center;
    background-size: cover;
    animation-name: sky;
    animation-duration: 5s;

}
@keyframes foto_card {
    55%{
        background-image: url(../photos/card3.png);
        opacity: 0.5;
        width:110%;
        height:99%;
        cursor: move;
        

    }}


    
   
/* section 3 daiwyio */

.section_three{
    width: 80%;
    margin: 0 auto 100px auto;
    background-color:#f6f8f9 ;
    display: flex;
    flex-direction: column;

}
.section_three_tittle{
    font-size: 24px;
    font-weight: bold;
    font-family: 'roboto';
    margin-bottom: 40px;    
    

}
.maindiv{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.leftside{
    width: 65%;
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.leftimage{
    width: 100%;
    height: 47%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
    
}
.leftimageone{
    width: 100%;
    height: 100%;
    position: relative;
}
.leftimage_h5{
    width: 80%;
    font-size: 16px;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 40px;
    
    
}
.leftimage_h6{
    width: 80%;
    font-family: roboto;
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    color: white;
    top: 270px;
    
 
}
.leftimage_p{
    width: 80%;
    font-family: roboto;
    font-size: 16px;
    color: white;
    position: absolute;
    top: 300px;
    left: 40px;
    
}
.right{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    padding-left: 20px;

}
.rightside{
    width: 100%;
    height: 33.3%;
   
}
.rightsideo{
    width: 100%;
    height: 33.3%;

}
.right_imag{
    width: 100%;
    height: 70%;
    

}
.right_h4imag{
    font-size: 16px;
    font-weight: bold;
    padding-top: 40px;
}

/* daiwyo footer */
footer{
    width: 100%;
    margin: 0 auto;    
    padding: 58px 10% 63px 10%;
    background-color: #a6adb4;
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;

}
footer:hover{
    cursor: pointer;
}
.footer_nav ul li:hover{
    cursor: pointer;
  border-bottom:  1px solid red;

}

.left-footer {
    display: flex;
    gap:40px;
}
.footer_nav{
    display: flex;
    gap:40px;

}


.footer_logo{
    font-size: 20px;
    color: #fff;
    margin-right: 50px;
}
.footer_logo:hover{
    
        animation-name: logo;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }
    
    @keyframes logo {
    
        0% {transform:rotate(0deg);
            top: 0px;}
        70%{
            transform: rotate(360deg);
    
        }
        
       
    
    }

.footer_ul li {
    font-size: 15px;
    margin-bottom: 10px;
    color: #fff;
}
.footer_il li:hover {

    border-bottom: 2px solid red;

}
.footer-socials{
    display: flex;
    gap:31px;
    
}

.footer-socials i {
    color:#fff ;
    
}
/* conteineri */

.conteiner_contact{
    max-width: 1440px;
    width: 100%;
    background-color: #f6f8f9;
    margin: 0 auto;
    position: relative;
    font-family:'roboto'sans-serif ;
    padding-top: 52px;
}
.contact_header{
    width: inherit;
    height: inherit;
    padding: 18px 20px;
    background-color: #f6f8f9;
    position: fixed;
    top: 0px;
    left: 50%;
    z-index: 10;
    transform:translateX(-50%) ;
    display: flex;
    justify-content: space-between;

}

.a_two{
    color: #343638;
    font-weight: bolder;
    opacity: 1
    ;
}

.contact-hero {
    width: 100%;
    height: 410px;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    padding-top: 50px;
}
.img-container {
    width: 50%;    
    position: relative;
}
.img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.contact-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;    
}
.contact-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    align-items: center;
    width: 50%;
}

.contact-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;    
}
.contact-group label {
    font-size: 14px;
    margin-bottom: 8px;    
}

.contact-group input {
    width: 400px;
    padding: 7px;
    border-radius: 4px;
    border: 1px solid #e7e7e7;
}
input[type='submit'] {
    padding: 8px 15px;
    color: #fff;
    background-color: #fa6980;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: .2px;
}

/* section */
.textconteiner{
    width: 1162px;
    height: 255px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 39px;
    border-top:2px solid #ebeded;
    border-bottom: 2px solid #ebeded;
   margin-top: 36px;
}
.avatar{
    width: 19%;
    height: 40%;
}
.avatar_p{
    font-size: 24px;
    font-weight: bold;
    width: 361px;
    height: 61px;
    margin-top: 20px;
    padding-left: 5px;

}
.avatar{
    padding-top: 39px;
    padding-left: 5px;
}
.righttext{
    width: 800px;
    display: flex;
    gap: 39px;
}
.righttextone{
    width: 361px;
    height: 50px;
    padding-top: 42px;
}
.right_texti1{
    font-size: 14px;
    width: 361px;
    height: 172px;
    color: #a6adb4;
}
.right_texti2{
    font-size: 14px;
    width: 300px;
    height: 128px;
    color: #a6adb4;

}

.sectionmaintwo{
    width: 85%;
    height: 831px;
    margin: 20px auto;
    border-bottom: 1px solid #a6adb4;
   
}
.imagespilo{
    width: 100%;
    height: 500px;
    padding-bottom: 40px;
}

.textiqveda{
    width: 100%;
    height: 205px;
    
}
.textiqveda_p{
    padding-bottom: 50px;
    color: #a6adb4;
}
.footer_nav{
    color: #fff;
}
.footer_a{
    color: #fff;
}



@media screen and (max-width:769px) {

   .conteiner{
    max-width: 769px;
    overflow: hidden;
   }
   
   .fa-bars{
    display: none;
   }
    .section_one{
        width: 100%;
        height: 768px;
        display: flex;
        flex-direction: column;
    
    }
    .poto{
        width: 100%;
        height: 55%;
    }
   
    .more_news{
        width: 100%;
        height: 45%;
        padding-top: 5px;
        padding-left: 10px;

    }
    
    .M{
        width:100% ;
        height: 100%;
        padding-left: 0;
        padding-top: 20px;
        padding-bottom: 39px;
        display: flex;
        flex-direction: row;
        gap: 40px;
    }

    /* DAIWYO SECTION 2 */

    .section_two{
        width: 80%;
        margin-left: 80px;
    }
    h4{
        margin-top: 10%;
        margin-left: 10%;
    }
    .CARDS{
        
        height: 350px;
        
       
    }
    .card{
        width: 45%;
        height: 400px;
    }
    .cardo{
        display: none;
    }

    /* // section 3 */

   
    .section_three{
        width: 80%;
        margin-left: 80px;
    }



    .maindiv{
        display: flex;
        flex-direction: column;
    }

    .leftside{
        width: 100%;
    }
    .right{
        width: 100%;
        flex-direction: row;
        padding-top: 40px;
        padding-left: 0;
        gap: 40px;
    }
   
    .rightsideo{
        display: none;
    }
    

    
    /* daiywo footer */

    footer{
        width: 100%;
        margin-top:114px;
        padding: 61px 56px 28px 80px;
        display: flex;
        justify-content: center;
    }
    footer:hover{
        cursor: pointer;
    }

    .footer-socials{
        margin-left: 30px;
    }
    

    /* CONTACTI */

    .conteiner_contact{
        max-width: 769px;
        overflow: hidden;
    }

    /* -------------- */

    .contact-hero{
        width: 85%;
        height: 800px;
        display: flex;
        flex-direction: column;

    }
    .img-container{
        width: 100%;
        height: 400px;
       
    }
    .contact-form{
        width: 100%;
        height: 400px;
       
    }
    .contact-group{
        width: 80%;
    }

    /* ------------- */

    .textconteiner{
        height: 467px;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .iconavatar{
        width: 610px;
        margin-left: 40px;
        
    }
    .avatar{
        width: 15%;
    }

    .righttext{
        flex-wrap: wrap;
        justify-content: space-around;
        
    }
    .righttextone{
        width: 285px;
        height: 224px;
        padding-top: 42px;
        font-size: 14px;
        height: 172px;
        color: #a6adb4;
    }
    .right_texti1{
        font-size: 14px;
        height: 174px;
    }
    .right_texti2{
        font-size: 14px;
        height: 174px;

    }
    /* ---------------- */

    .sectionmaintwo{
       width: 85%;
       height: 768px;
       margin-bottom: 142px;
    }
    .imagespilo{
        width: 100%;
        height: 260px;
    }
    .textiqveda{
        height: 330px;
    }

}

@media screen and (max-width:480px){
    .conteiner{
        max-width:480px;
    }
    
    .one{
        display: flex;
    
    }

    /* ---- Daiwyo section one ---- */

    .section_one{
        width: 100%;
        height: 876px;
        display: flex;
        flex-direction: column;
    }
    .poto{
        width: 100%;
        height: 388px;
        padding: 70px 23px 40px 24px;
    }
    /* --- Daiwyo Section two --- */

    .section_two{
        width: 80%;
        margin: 0 auto;
    }
    .section_two_tittle{
        margin-bottom: 30px;
    }
    .CARDS{
        width: 100%;
        height: 656px;
        display: flex;
        flex-direction: column;
        gap: 30px;

    }
    .card{
        width: 100%;
        height: 308px;
        padding-bottom: 0;
    }
    .cardo{
        display: none;
    }
    /* ---- daiwyo section three ---- */

    .section_three{
        width: 80%;
        margin: 0 auto;
        padding-top: 40px;

    }
    .section_three_tittle{
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 40px;
        display: flex;
        justify-content: space-between;
    }
    .maindiv{
        width: 100%;
    }
    .right{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 30px;
        padding-left: 10px;
    }

    /* ------- daiwyo footer ----- */

footer{
    width: 480px;
    margin-top: 70px;
    gap: 43px;
}
.left-footer{
    display: none;
}
.footer-socials{
   width: 100%;
   flex-direction: row;
   padding-right: 150px;
   padding-bottom: 50px;
   position: absolute;
   left: 100px;
   gap: 43px;
}

/* contact */
.conteiner_contact{
    max-width: 480px;
}
.contact-hero{
    width: 100%;
    height: 1040px;
}

.img-container{
    width: 100%;
    height: 714px;
}
.contact-form{
    width: 100%;
}
form{
    width: 82%;
    height: 80%;
    padding-left: 24px;
}
label{
    padding-bottom: 10px;
    font-family: 'Red Hat Display';
    font-size: 13px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}
input{
    width: 327px;
    height: 40px;
    color: transparent;
    margin-bottom: 40px;
}

.textconteiner{
    width: 85%;
    height: 682px;
    border-top: none;
    border-bottom: none;
}
.iconavatar{
    width: 329px;
}
.righttext{
    width: 329px;
 
     
 }
 .sectionmaintwo{
    width: 85%;
    height: 698px;
    margin-top: 40px;
 }
 .imagespilo{
    width: 100%;
    height: 327px;
    padding-bottom: 40px;
 }
 .textiqveda{
    width: 100%;
    height: 352px;
    
 }
 .textiqveda_p{
    font-size: 12px;
 }
 /* ---- footer--- */

 footer{
    width: 100%;
    margin-top: 70px;
    gap: 43px;

 }
 
 .burgermenu{
    
    display: block;
    border: none;
}
.burgermenu:hover{
    cursor: pointer;
    
}


.nav_ul{
    display: none;
    width: 200px;
    position: fixed;
    top: 50px;
    right: 0;
    background-color:white;
    gap: 10px;
    flex-direction:column;
    align-items: center;
    



}
header nav .nav_ul li:hover{
    border-bottom:3px solid red;
}

}


@media screen and (min-width:481px){

    header nav .nav_ul{
        display: flex;
        gap: 31px;
    }
   

}








